/* ubuntu-300 - latin */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 300;
    src: url('../fonts/ubuntu-v21-latin-300.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* ubuntu-regular - latin */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/ubuntu-v21-latin-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* ubuntu-500 - latin */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 500;
    src: url('../fonts/ubuntu-v21-latin-500.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* ubuntu-500italic - latin */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Ubuntu';
    font-style: italic;
    font-weight: 500;
    src: url('../fonts/ubuntu-v21-latin-500italic.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* ubuntu-700 - latin */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 700;
    src: url('../fonts/ubuntu-v21-latin-700.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* fonts */


/* color */
:root {
    --c-whyte: hsl(0, 0%, 100%);
    --c-light-gray: hsl(240, 26%, 93%);
    --c-middle-gray: hsl(240, 16%, 76%);
    --c-dark-gray: hsl(240, 12%, 60%);
    --c-dark: hsl(240, 11%, 36%);
    --c-high-dark: hsl(0, 0%, 0%);
    --c-light-blue: hsl(195, 100%, 70%);
    --c-blue: hsl(195, 97%, 59%);
    --c-dark-blue: hsl(230, 100%, 70%);
    --с-brown: hsl(350, 43%, 35%);
    --c-green: hsl(150, 43%, 49%);
    --c-transparent: transparent;


    --color-main-bg: var(--c-whyte);
    --color-second-bg: var(--c-light-gray);

    --color-text-light: var(--c-middle-gray);
    --color-text-middle: var(--c-dark-gray);
    --color-text-dark: var(--c-dark);
    --color-text-dark-high: var(--c-high-dark);
    --color-text-brown: var(--с-brown);
    --color-text-green: var(--c-green);
    --color-text-paragraph: var(--c-blue);

    --color-button-primary: var(--c-transparent);
    --color-button-second-bg: var(--c-blue);
    --color-button-time-bg: var(--c-light-blue);
    --color-button-text-primary: var(--c-middle-gray);
    --color-button-text-second: var(--c-whyte);

    --color-border: var(--c-middle-gray);
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    margin: 0;
}

body {
    font-family: "Ubuntu", "Arial", sans-serif;
}

a {
    text-decoration: none;
}

img,
picture,
svg {
    max-width: 100%;
    display: block;
}

.wrapper {
    width: min(calc(100% - 16px), 1200 / 16 * 1rem);
    margin-inline: auto;
}



/*.container {*/
/*    padding-inline: 20%;*/
/*}*/

/*header {*/
/*    height: 70px;*/
/*    text-align: center;*/
/*}*/

/*.start-record {*/
/*    padding: 10px;*/
/*}*/


/*.main-controls {*/
/*    padding-bottom: 0.7rem;*/
/*    height: 170px;*/
/*}*/

/*.sound-clips {*/
/*    box-shadow: inset 0 3px 4px rgb(0 0 0 / 70%);*/
/*    background-color: rgb(0 0 0 / 10%);*/
/*    height: calc(100% - 240px - 0.7rem);*/
/*    overflow: scroll;*/
/*}*/

/*label {*/
/*    font-family: "Noto color emoji", emoji;*/
/*    font-size: 3rem;*/
/*    position: absolute;*/
/*    top: 2px;*/
/*    right: 3px;*/
/*    z-index: 5;*/
/*    cursor: pointer;*/
/*}*/

/*input[type="checkbox"] {*/
/*    position: absolute;*/
/*    top: -100px;*/
/*}*/

/*aside {*/
/*    position: fixed;*/
/*    top: 0;*/
/*    right: 0;*/
/*    text-shadow: 1px 1px 1px black;*/
/*    width: 100%;*/
/*    height: 100%;*/
/*    transform: translateX(100%);*/
/*    transition: 0.6s all;*/
/*    background-color: #999999;*/
/*    background-image: linear-gradient(*/
/*        to top right,*/
/*        transparent,*/
/*        rgb(0 0 0 / 50%)*/
/*    );*/
/*}*/

input[type="checkbox"]:checked ~ aside {
    transform: translateX(0);
}