.container {
    padding-inline: 20%;
}

header {
    height: 70px;
    text-align: center;
}

.start-record {
    padding: 10px;
}


/*.main-controls {*/
/*    padding-bottom: 0.7rem;*/
/*    height: 170px;*/
/*}*/

/*.sound-clips {*/
/*    box-shadow: inset 0 3px 4px rgb(0 0 0 / 70%);*/
/*    background-color: rgb(0 0 0 / 10%);*/
/*    height: calc(100% - 240px - 0.7rem);*/
/*    overflow: scroll;*/
/*}*/

/*label {*/
/*    font-family: "Noto color emoji", emoji;*/
/*    font-size: 3rem;*/
/*    position: absolute;*/
/*    top: 2px;*/
/*    right: 3px;*/
/*    z-index: 5;*/
/*    cursor: pointer;*/
/*}*/

/*input[type="checkbox"] {*/
/*    position: absolute;*/
/*    top: -100px;*/
/*}*/

/*aside {*/
/*    position: fixed;*/
/*    top: 0;*/
/*    right: 0;*/
/*    text-shadow: 1px 1px 1px black;*/
/*    width: 100%;*/
/*    height: 100%;*/
/*    transform: translateX(100%);*/
/*    transition: 0.6s all;*/
/*    background-color: #999999;*/
/*    background-image: linear-gradient(*/
/*        to top right,*/
/*        transparent,*/
/*        rgb(0 0 0 / 50%)*/
/*    );*/
/*}*/

input[type="checkbox"]:checked ~ aside {
    transform: translateX(0);
}