@use '../util/mixins' as m;

.audio-recording {
  padding-right: 2rem;

  &__button {
    width: 100%;
    @include m.rem-calc(height, 56);
    border: 1px solid var(--color-border);
    border-radius: var(--box-radius);
    font-size: var(--font-size-exercise-text);
    font-weight: var(--font-weigh-text-button);
    line-height: var(--lh-exercise-text);
    color: var(--color-text-exercise-gray);


    span {
      background-color: var(--c-transparent);
    }

    &:hover {
      cursor: pointer;
      background-color: var(--color-button-second-bg);
      color: var(--color-main-bg);
    }
  }

  &__microphone-pic {
    display: inline-block;
    width: 1rem;
    height: 1rem;
    background: url('/image/icons/mic.svg') no-repeat center / contain;
  }

  &__text {
    margin-inline: 6px;
  }

  &__time {
    padding-inline: 8px;
  }

  &__exercise-item {
    //display: none;
  }
}

.audio-info {
  &__text-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__title {
    color: var(--color-text-brown);
  }
  &__progress-item {
    audio {
      width: 100%;
    }
  }

  &__buttons-item {
    cursor: pointer;
  }
  &__save-button {
    cursor: inherit;
    @include m.rem-calc(width, 90);
    @include m.rem-calc(height, 30);
    border-radius: var(--button-radius);
    border: 1px solid var(--color-border);
    font-size: var(--font-size-exercise-text);
    font-weight: var(--font-weigh-text-button);
    line-height: var(--lh-exercise-text);
    color: var(--color-button-text-second);
    background-color: var(--color-button-second-bg);

  }
  &__cancel-button {
    cursor: inherit;
    @include m.rem-calc(width, 90);
    @include m.rem-calc(height, 30);
    border-radius: var(--button-radius);
    border: 1px solid var(--color-border);
    font-size: var(--font-size-exercise-text);
    background-color: var(--color-button-light-light-grey);
    color: var(--color-text-middle);
    font-weight: var(--font-weigh-text-button);

    &:hover {
      background-color: var(--color-second-bg);
    }
  }

}